{
    "presets": [
        ["@babel/preset-env",{
            "useBuiltIns": "usage",
            "corejs": 2,
            "targets": {
                "chrome": "58",
                "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
            }
        }]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}