<!-- <script src="http://192.168.202.122/lib/vue/vue.latest.js"></script>
<script src="http://192.168.202.122/lib/axios/axios.min.js"></script>
<script src="http://192.168.202.122/lib/element-ui/element-ui.latest.js"></script>
<script src="http://192.168.202.122/lib/es6-shim/es6-shim.min.js"></script>
<script src="http://192.168.202.122/lib/babel-polyfill/polyfill.min.js"></script>
<script src="http://192.168.202.122/lib/ued-components-latest/ued-components.js"></script>
<script src="http://192.168.202.122/view/mysteel/mdmComponents/confBlock/confBlock.js"></script>
<script src="http://192.168.202.122/view/mysteel/mdmComponents/rulePart/rulePart.js"></script>
<script src="http://192.168.202.122/lib/vue/element-ui-self.js"></script> -->

<!-- 本地js -->
<script src="../js/vue.latest.js"></script>
<script src="../js/axios.min.js"></script>
<!-- <script src="../js/element-ui.latest.js"></script> -->
<script src="../js/es6-shim.min.js"></script>
<script src="../js/polyfill.min.js"></script>
<script src="../js/ued-components.js"></script>
<script src="../js/confBlock.js"></script>
<script src="../js/rulePart.js"></script>
<script src="../js/element-ui-self.js"></script>
<!-- <script src="/survey/static/lib/vue/vue.latest.js"></script>
<script src="/survey/static/lib/axios/axios.min.js"></script>
<script src="/survey/static/lib/element-ui/element-ui.latest.js"></script>
<script src="/survey/static/lib/es6-shim/es6-shim.min.js"></script>
<script src="/survey/static/lib/babel-polyfill/polyfill.min.js"></script>
<script src="/survey/static/lib/ued-components-latest/ued-components.js"></script>
<script src="/survey/static/view/mysteel/mdmComponents/confBlock/confBlock.js"></script>
<script src="/survey/static/view/mysteel/mdmComponents/rulePart/rulePart.js"></script>
<script src="/survey/static/lib/vue/element-ui-self.js"></script>-->
<!--自定义 js-->
<script src="../js/custom.js"></script>
<script src="../js/localstorage.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/util.js"></script>
<script src="../js/frameTree.js"></script>