<!-- <link rel="icon" href="http://192.168.202.122/res/images/bmcd_favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://192.168.202.122/res/images/bmcd_favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="http://192.168.202.122/view/minireset.css">
<link rel="stylesheet" href="http://192.168.202.122/view/mysteel/mdmComponents/mdmComponents.css">
<link rel="stylesheet" href="http://192.168.202.122/view/mysteel/css/namingRuleMgr.css"> -->

<link rel="icon" href="/dam/res/images/bmcd_favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/dam/res/images/bmcd_favicon.ico" type="image/x-icon" />
<!-- <link rel="stylesheet" href="/static/indexLatest.css">
<link rel="stylesheet" href="/static/minireset.css">
<link rel="stylesheet" href="/static/namingRuleMgr.css">
<link rel="stylesheet" href="/static/mdmComponents.css"> -->